<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.id.new_generator_mappings">false</property>
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/hibernateInh
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
            pro
        </property>
        
        <!-- TablePerHierarchy class mapping -->
        <mapping class="com.evgeniy_mh.hibernateinheritancemappingtest.TablePerHierarchy.Employee"/>
        <mapping class="com.evgeniy_mh.hibernateinheritancemappingtest.TablePerHierarchy.ContractEmployee"/>
        <mapping class="com.evgeniy_mh.hibernateinheritancemappingtest.TablePerHierarchy.RegularEmployee"/>
        
        <!-- TablePerClass class mapping -->
        <mapping class="com.evgeniy_mh.hibernateinheritancemappingtest.TablePerClass.Employee"/>
        <mapping class="com.evgeniy_mh.hibernateinheritancemappingtest.TablePerClass.ContractEmployee"/>
        <mapping class="com.evgeniy_mh.hibernateinheritancemappingtest.TablePerClass.RegularEmployee"/>
        
    </session-factory>
</hibernate-configuration>